.nav {
    display: flex;
    align-items: center;
}

.nav a {
    margin: 0 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header, .main {
    width: 960px;
    margin: 0 auto;
}

.logo {
    padding: 10px;
}